PCSYS PPG LPS ProxyConnector/Connected Services/DataService/DATASERVICE2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pefr-zbook-w11:8002/TECSYS/DATASERVICE?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" />
  <xs:import schemaLocation="http://pefr-zbook-w11:8002/TECSYS/DATASERVICE?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/IBS_PrintService_Admin.Code.Data" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataWithParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q1:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataWithParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataWithParametersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByStoredProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q2:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByStoredProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataByStoredProcedureResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartDataService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartDataServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataOutResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteScalarIntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteScalarStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientAdress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionIsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionIsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectionIsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserLoginsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintQueueInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="profileIds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="holded" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintQueueInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrintQueueInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="images" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDocumentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUniCodeText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labelText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUniCodeTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUniCodeTextResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForDataVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataVariable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provider" type="xs:int" />
        <xs:element minOccurs="0" name="allowEmpty" type="xs:boolean" />
        <xs:element minOccurs="0" name="allowNull" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForDataVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataForDataVariableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteExternalDataWithParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q3:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q4:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteExternalDataWithParametersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToDatabaseLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToDatabaseLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToDatabaseLogServiceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isError" type="xs:boolean" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToDatabaseLogServiceNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlCopyBulk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="fields" nillable="true" type="q5:ArrayOfMappingField" />
        <xs:element minOccurs="0" name="destinationTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keepIdentity" type="xs:boolean" />
        <xs:element minOccurs="0" name="keepNulls" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SqlCopyBulkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlCopyBulkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dataSourceString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provider" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTabelsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalScalarInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q6:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalScalarIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalScalarIntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q7:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insertQueryText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQueryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuiries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q8:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insertQuiriesRows" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="inTransaction" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuiriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q9:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allowEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataWithParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q10:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q11:ArrayOfConnectionManager.IBSExternalParameter" />
        <xs:element minOccurs="0" name="allowEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataWithParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalDataWithParametersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataByConnectionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionId" type="xs:int" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allowEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataByConnectionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalDataByConnectionIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataByParametersByConnectionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionId" type="xs:int" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parms" nillable="true" type="q12:ArrayOfConnectionManager.IBSExternalParameter" />
        <xs:element minOccurs="0" name="allowEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalDataByParametersByConnectionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalDataByParametersByConnectionIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPrintLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="logs" nillable="true" type="q13:ArrayOfPrintLogInfo" />
        <xs:element minOccurs="0" name="printid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPrintLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryWithParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q14:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryWithParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryWithParametersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarStringWithParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q15:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarStringWithParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteScalarStringWithParametersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabelProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTabelPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="GetTabelPropertiesResult" nillable="true" type="q16:ArrayOfTabelProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalScalarString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="provider" type="xs:int" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parms" nillable="true" type="q17:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalScalarStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalScalarStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q18:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sqlString" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="parameters" nillable="true" type="q19:ArrayOfConnectionManager.IBSExternalParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="GetBytesResult" nillable="true" type="q20:SystemOptions.ByteArrayInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScriptDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScriptDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="GetScriptDatabaseResult" nillable="true" type="q21:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchemasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSchemasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDatabaseInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDatabaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentDatabaseInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestExternalConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IBS_Data_Service_4.DataServer" minOccurs="0" name="provider" type="q22:ConnectionManager.DataProvider" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestExternalConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestExternalConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndexOptimizationSuggestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndexOptimizationSuggestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IBS_PrintService_Admin.Code.Data" minOccurs="0" name="GetIndexOptimizationSuggestionsResult" nillable="true" type="q23:ArrayOfIndexOptimizationSuggestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>